<h2>Ingen Dinosaurs</h2>
<ul>
  <li *ngFor ="let d of dinos"  >
    <!--<span class = "Dinos"><img src="{{d.Image}}" height ="300" width ="400"></span>-->
    <div class="card"  >
        <span><img src="{{d.Image}}" height ="200" width ="400"></span>        
        <div class="card-body" >
          <h4 class="card-title">{{d.Name}}</h4>
         <nav ng-ref="#seeme" class="btn btn-primary" (click)="onSelect(d)">See Profile</nav>
        </div>
      </div>
      
    
  </li>
  <a id ="#seeme"><app-dinosaur-detail [d]= "selectedDino" ></app-dinosaur-detail></a>
</ul>
<br>
<br>
    
<hr>



<app-messages></app-messages>

<span><nav><a routerLink = "/dino-pop-up" routerLinkActive="active">Click here</a></nav></span>

<app-dino-pop-up></app-dino-pop-up>