<h2>Ingen Dinosaurs</h2>
<ul>
  <li *ngFor ="let d of dinos" (click)="onSelect(d)">
    <span><img src="{{d.Image}}" height ="200" width ="200"></span>
    <span>{{d.Name}}</span> {{d.Rating}}
    
    <ngb-rating [(rate)]="d.Rating" [starTemplate]= ""  (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
  </li>

</ul>
<div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
<hr>


<app-dinosaur-detail [d]= "selectedDino" ></app-dinosaur-detail>
<app-messages></app-messages>


